<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Students Data</title>
</head>
<body style="background: linear-gradient(45deg, skyblue, dodgerblue);">
	<div class="container">
	<br>
		<h3 style="text-align: center;background-color: black;color: white;">STUDENTS DATA MANGEMENT <br>  
		</h3>
		<hr>
		<div class="row">
			<p> <a th:href="@{/addingPage}" style="background-color: lime;color: black">Add New Student</a></p>
		</div>
		<div class="row">
			<table class="table table-striped  table-bordered table-hover table-dark">
				<thead>
				    <tr>
				      <th style="font-size:large;background-color: yellow;"> <b style="color: black;">id</b> </th>
				      <th style="font-size:large;background-color: yellow;"><b style="color: black;">college_id</b></th> 
				      <th style="font-size:large;background-color: yellow;"><b style="color: black;">email</b></th>
				      <th style="font-size:large;background-color: yellow;"><b style="color: black;">name</b></th>
				      <th style="font-size:large;background-color: yellow;"><b style="color: black;">Actions</b></th>
				    </tr>
	  			</thead>
	  			
	  			<tbody>
	  				<tr  th:each="student:${students}">
				      <td th:text="${student.id}"></td>
				      <td th:text="${student.collegeId}"></td>
				      <td th:text="${student.email}"></td>
				      <td th:text="${student.name}"></td>
					  <td>  <a style="background-color: green;color: white;" th:href="@{/updatingPage/{id}(id=${student.id})}">Update</a> / <a style="background-color: red;color: white;" th:href="@{/delete/{id}(id=${student.id})}">Delete</a> </td>
    				</tr>
					     
	  			</tbody>
			
			</table>
  			
		</div>
	</div>
</body>
</html>